.breadcrumb {
    background-color: #ffffff;
}

.card-image {
    border-radius: 10px;
    border: 0px;
    background-color: #ffffff;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 1px 3px 1px rgba(69, 65, 78, 0.08);
    -moz-box-shadow: 0px 1px 3px 1px rgba(69, 65, 78, 0.08);
    box-shadow: 0px 1px 3px 1px rgba(69, 65, 78, 0.08);
    padding: 30px;
}

.list-group {
    margin: 0 0 20px 0 !important;
}

button {
    margin-bottom: 20px;
}

.card {
    border-radius: 10px;
    border: 0px;
    background-color: #ffffff;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 1px 3px 1px rgba(69, 65, 78, 0.08);
    -moz-box-shadow: 0px 1px 3px 1px rgba(69, 65, 78, 0.08);
    box-shadow: 0px 1px 3px 1px rgba(69, 65, 78, 0.08);
}

.card img{
    display: block;
    margin: 10px auto 10px auto;
    width: 100px;
    height: 100px;
}

.card button {
    width: 50%;
    margin: 10px auto 10px auto;
}